@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header_section">
    <div class="container-fluid header_main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo" href="index.html">
                <img src="images/oasis.png" class="logo" />
            </a>            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Sermons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="features.html">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="images/serach-icon.png"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- banner section start -->
    <div class="container-fluid">
        <div class="banner_section layout_padding">
            <h1 class="banner_taital">Gatewaty <br>Oasis</h1>
            <div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="image_main">
                            <div class="container">
                                <img src="images/PHOTO-2023-08-20-19-02-21.jpg" class="">
                          </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- header section end -->
<div class="container">
    <div class="touch_setion">
        <div class="box_main">
            <div class="image_2 active">
                <h4 class="who_text active">Who are we </h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_3">
                <h4 class="who_text">Get In Touch</h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_4">
                <h4 class="who_text">Facebook</h4>
            </div>
        </div>
    </div>
</div>
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div><img class="about_img" src="images/5d7bc068-1303-46c9-9976-87446f9fdaf9.jpg"></div>
                <div class="like_icon"><img src="images/like-icon.png"></div>
                <h2 class="most_text">Sundays <br></h2>
                <p class="lorem_text">Services run from 10:30-12:30 including sunday school for kids and youth. If you are new we would love the opportunity to get to know you, so be sure to introduce yourself.</p>
                <div class="social_icon_main">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h1 class="about_taital">About Us</h1>
                <p class="about_text">Gateway Oasis is a multicultural Church dedicated to the commission of the Gospel. Here at Gateway we welcome all people to join in fellowship as we journey in Christ.</p>
                <div class="read_bt_1"><a href="#">Read More</a></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
<!-- blog section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="about_img"><img src="images/aaron-burden-169739.png"></div>
                <div class="like_icon"><img src="images/like-icon.png"></div>
                <h2 class="most_text">The issue of pain and suffering <br>Job</h2>
                <p class="lorem_text">The book of Job allows us to see the biblical approach to pain and suffering and how we oursleves can respond. The insight into Jobs life allows us to see how God is soverign in our circumstances.</p>
                <div class="social_icon_main">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="about_main">
                    <h1 class="follow_text">CONNECT & FOLLOW</h1>
                    <div class="follow_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon-1.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon-1.png"></a></li>
                            <li><a href="#"><img src="images/linkedin-icon-1.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon-1.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
<!-- newsletter section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div><img class="bowling_img"  src="images/IMG_7811.jpg"></div>
                <div class="like_icon"><img src="images/like-icon.png"></div>
                <h2 class="most_text"> Community <br>
                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                <div class="social_icon_main">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter section end -->
<!-- recent section start -->
@* <div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div><img class="about_img" src="images/img-10.png"></div>
                <div class="like_icon"><img src="images/like-icon.png"></div>
                <p class="post_text">Post By : 09/06/2019</p>
                <h2 class="most_text">Community  <br>foreste</h2>
                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                <div class="social_icon_main">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="newsletter_main">
                    <h1 class="recent_taital">Recent post</h1>
                    <div class="recent_box">
                        <div class="recent_left">
                            <div class="image_6"><img src="images/img-6.png"></div>
                        </div>
                        <div class="recent_right">
                            <h3 class="consectetur_text">Consectetur adipiscing</h3>
                            <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing </p>
                        </div>
                    </div>
                    <div class="recent_box">
                        <div class="recent_left">
                            <div class="image_6"><img src="images/img-7.png"></div>
                        </div>
                        <div class="recent_right">
                            <h3 class="consectetur_text">Consectetur adipiscing</h3>
                            <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@<!-- recent section end -->

<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">1</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">2</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">3</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">4</li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="slider1_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="slider2_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="slider3_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="slider4_img"></div>
                        </div>
                    </div>
                </div>
            </div>
           @*  <div class="col-md-6">
                <div class="mail_section">
                    <h1 class="contact_taital">Contact us</h1>
                    <input type="" class="email_text" placeholder="Name" name="Name">
                    <input type="" class="email_text" placeholder="Phone" name="Phone">
                    <input type="" class="email_text" placeholder="Email" name="Email">
                    <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                    <div class="send_bt"><a href="#">send</a></div>
                </div>
            </div> *@
        </div>
    </div>
</div>
<!-- contact section end -->