@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Gateway
                <span class="text-primary">Oasis</span>
            </h1>

            <p class="lead mb-5"> Our vision is to grow a community rooted in Christ. Our church stands as a beacon of hope in our city, drawing people from all walks of life into a genuine and intimate relationship with the Savior. Gateway is a multicultural and intentionally cross-cultural church.</p>
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Sundays-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Sundays</h2>
            <img class="profile-img" src="assets/img/PHOTO-2023-08-20-19-02-21.jpg" alt="...">


            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Services</h3> Service runs from 10:30-12:30. Refreshments are shared after service for time of fellowship so be sure to stick around!
                    
                   
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Community-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Community</h2>
            <img class="profile-img" src="assets/img/Picture2.jpg" alt="...">
            <img class="profile-img" src="assets/img/IMG_7811.jpg" alt="...">
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Fellowship</h3>  Fellowship bridges generations, cultures, and backgrounds. It binds believers together in a shared journey, nurturing a sense of belonging and accountability.As a church we believe time spent together allows us to grow closer to each other , united together as one body under Christ.
                    <h3 class="mb-0">Spirit Cafe</h3> Spirit Cafe runs from 7-8pm on Thursdays and is a time for believers to reflect on Gods word as we grow in our understanding together.
                    <h3 class="mb-0">Retreat</h3> We believe in the importance of taking time out togther to build relationships, hence why we love our trips in May to Cefn Lea. To get involved please email us at <a href="mailto:name@email.com">GatewayOasis@gmail.com</a>.
    </section>
    <hr class="m-0" />
    <!-- The Gospel-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">The Gospel</h2>
            <div class="subheading mb-3"></div>The Gospel stands as the heart and soul of the Christian faith, embodying the very essence of God's boundless love for humanity. At its core, the Gospel is the Good News that resonates through the ages—a message of hope, redemption, and profound transformation.The Gospel proclaims that through Christ's sacrificial love, sin's grip is broken, and the chains of spiritual bondage are shattered. It offers the gift of forgiveness and invites all who believe to experience a renewed connection with God, embracing a life imbued with purpose, joy, and eternal significance.


    </section>
   
        </div>
    </section>
    <hr class="m-0" />
    <!-- Location-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Location</h2>
            <div class="subheading mb-5">
                Crowther Hall, Hamilton Drive Selly Oak,Birmingham B29 6AJ  ·
                <a href="mailto:name@email.com">GatewayOasis@gmail.com</a>
            <img class="mapimage-img" src="assets/img/Picture4.png" alt="...">
            </div>

    </section>
</div>